<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('auth.logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
    <form action="" method="post">
        Title: <input type="text" name="titleForm"><br>
        Desc: <input type="text" name="descForm"><br>
        <button type="submit">Add task</button>
    </form>
    {% if usertasks %}
        {% for task in usertasks %}
            <p>{{task.title}}</p>
            <p>{{task.description}}</p>
            <form action="{{ url_for('task.remove_task', id=task.id) }}" method="post">
            <button type="submit">Remove Task</button>
            </form>
        {% endfor %}
    {% endif %}
    
</body>
</html>